.full-header{
    position:fixed;
    top:0;
    background-color:#ffffff;
    height:100px;
    width:100%;
    border-bottom: solid 2px #cccc;
}
.name{
    width:300px;
    height:50px;
    font-size:45px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#4aaaa5;
    color: #ffffff;
}

.top-stuff{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    clear:auto;

}
a:link{
    float:right;
    text-decoration:none;
}
a:visited{
    text-decoration: none;
}
#About{
    padding-left: 4px;
    margin-left: 4px;
    border-left: solid 1px #cccc;
}
#Portfolio{
    padding-left: 4px;
    margin-left: 4px;
    border-left: solid 1px #cccc;    
}
.content{
    width: 960px;
    margin-top:150px;
    margin-left:auto;
    margin-right:auto;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h2{
    color:#4aaaa5;
    margin-left: 10px;
    margin-right:10px;
    border-bottom: solid 2px #cccc;


}
body{
    background-image: url("assets/images/floor-tile.png")
}
.Profile_Pic{
    float: left;
    position: relative;
    margin-left:3px;
    margin-right:3px;
}
.about-me{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;

}
input[type=text], select, textarea {
    width: 900px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


input[type=text], select, textarea {
    width: 900px; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
.Placeholder_Pics{
    float:left;
}

.footer {
    position: fixed;
    font-size: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    color: white;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.earbud-image{
    float:left;
    text-align: center;
    color: white;
}
.level-image{
    float:left;
    text-align: center;
    color: white;
}
.mp3-image{
    float:left;
    text-align: center;
    color: white;
}
.studio-image{
    float:left;
    text-align: center;
    color: white;
}
.thing-image{
    float:left;
    text-align: center;
    color: white;
}
.centered {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:300px;
    background-color:#4aaaa5;
    font-size:25px;
  }
  @media only screen and (max-width: 980px) {
  }
  @media only screen and (max-width: 768px){
    .name{
        width:768px;
        text-align:center;
    }
    a{
        float:none;

        
    }
    .content{
        width:99%

    }
    .about-me{
        width:98%;
    }
    #About{
        float:left;
    }
    #Portfolio{
        float:left;
    }
    #Contact{
        float:left;
        margin-left: 4px;
        border-left: solid 1px #cccc;
        
    }
    .labels{
        width:640px;
    }
  }
  @media only screen and (max-width: 640px){
    .name{
        width:640px;
        text-align:center;
        
    }
    a{
        float:none;

    }
    .content{
        width: 99%;
    }
    .about-me{
        width:98%;
    }
    #About{
        float:left;
    }
    #Portfolio{
        float:left;
    }
    #Contact{
        float:left;
        margin-left: 4px;
        border-left: solid 1px #cccc;
    }
    .labels{
        width:640px;
    }
}